.CommodityBlock
  max-width: 871px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(3, 1fr)
  position: relative
  gap: 25px
.link
  max-height: 405px
  color: #2F3035
  text-decoration: none

